.logout-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: 25vh auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.background {
  background-image: url('src/assets/images/preferences.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

